@import 'font';
body{
    margin: 0;
}
.astro-container{
    
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
    height: 100vh;

    width: 100vw;
    overflow: hidden;
    
    .bg-image{
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    .content-container{
        display: flex;
        flex-direction: column;
        height: 80%;
        min-width: calc(80% - 50px);
        
        
      
        .title{
           
            height: 100px;
            width: 100%;
            display: flex;
            gap: 2000px;
            p{
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 30px;
                color: white;
                font-family: $inter;
                font-weight: 200;
                text-transform: uppercase;
                span{
                    font-size: 25px;
                    color: rgb(236, 236, 236);
                    font-weight: 500;
                }
                
            }
        }
        .main-content{
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            height: 80%;
            gap: 50px;
            width: 100%;
            
       
            img{
                position: relative;
                height: calc(80% + 2vmin);
                width: calc(500px + 2vmin);
                object-fit: contain;
               
                filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
                animation: light 8s ease-in-out infinite;

                @keyframes light {
                    0%{
                        filter: 
                     
                        drop-shadow(0 0 0rem rgba(255, 255, 255, 0));
                        transform: translatey(0);
                    }
                    50%{
                        transform: translatey(-20px);
                        filter: 
                        drop-shadow(2px 0 2rem rgb(253, 253, 253));
                    }
                    100%{
                        transform: translatey(0);
                        filter: 
                      drop-shadow(0 0 0rem rgba(255, 255, 255, 0));
                    }
                }
                
                
                
            }
            .text-content{
                
                height: 600px;
                display: flex;
                flex-direction: column;
                gap: 20px;
            
                
                width: 405px;
         
                
                h1{
                    margin: 0;
                    font-weight: 200;
                    color: white;
                    font-size: 100px;
                    font-family: $bitter;
                }
                p{
                    margin: 0;
                    font-family: $inter;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 30px;
                    color: rgb(174, 174, 174);
                }
                hr{
                    width: 100%;
                    border-bottom: thin solid rgba(255, 255, 255, 0.313);
                   
                    
                }
                .stats{
                    padding-top: 10px;
                    width: 100%;
                    border-top: thin solid rgba(255, 255, 255, 0.373);
                    display: flex;
                    gap: 50px;
                    div{
                        p{
                            text-transform: uppercase;
                            font-size: 12px;
                            font-weight: 400;
                            margin: 0;
                        }
                        h2{
                            font-size: 30px;
                            font-weight: 200;
                            margin: 0;
                            color: white;
                            font-family: $bitter;
                        }
                    }
                }
                ul{
                    margin: 0;
                    padding-left: 0;
                    font-family: $inter;
                    font-weight: 200;
                    width: 100%;
                    
                    display: flex;
                    gap: 40px;
                    list-style: none;
                    .active{
                        &::after {
                        
                            position: absolute;
                            align-items: center;
                            animation: line .4s ease-in-out;
                            height: 90%;
                            width: 100%;
                            content: "";
                            border-bottom: 3px solid rgb(218, 218, 218);
                            @keyframes line {
                                0%{
                                    width: 0%;
                                }
                                100%{
                                    width: 100%;
                                }
                                
                            }
                        }
                       }
                    li{
                        display: flex;
                        align-items: center;
             
                        justify-content: center;
                        position: relative;
                        height: 50px;
                        cursor: pointer;
                        color: white;
                        font-size: 20px;
                       
                       &:hover{
                        &::after {
                        
                            position: absolute;
                            align-items: center;
                            animation: line .4s ease-in-out;
                            height: 90%;
                            width: 100%;
                            content: "";
                            border-bottom: 3px solid rgb(218, 218, 218);
                            @keyframes line {
                                0%{
                                    width: 0%;
                                }
                                100%{
                                    width: 100%;
                                }
                                
                            }
                        }
                       }
                        
                    }
                }
             
            }
        }
    }
}

@media screen and (max-width:986px) {
   .astro-container{
   
        .content-container{
            transition: 600ms ease-in-out;
            height: 85%;
            .title{
                p{
                    font-size: 16px;
                }
            }
            .main-content{
                
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                img{
                    height: 300px;
                }
                .text-content{
                    transition: 600ms ease-in-out;
                    gap: 5px;
                    ul{
                        align-items: center;
                        justify-content: center;
                        li{
                            transition: 600ms ease-in-out;
                            font-size: 15px;
                        }
                    }
                    h1{
                        transition: 600ms ease-in-out;
                        text-align: center;
                        font-size: 80px;
                    }
                    p{
                        transition: 600ms ease-in-out;
                        text-align: center;
                        font-size: 14px;
                    }
                    .stats{
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
   }
    
    
}
@media screen and (max-width:475px) {

    .nav{
        margin-top: 10px;
        .logo{
            margin-left: 30px;
        }
        ul{
            display: none;
        }
    }
    .astro-container{
   
        .content-container{
            position: relative;
            transition: 600ms ease-in-out;
            height: 87%;
            .title{
                position: absolute;
                margin-left: 30px;
                z-index: 2;
                p{
                    font-size: 14px;
                }
            }
            .main-content{
                
                height: 95%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                img{
                    height: 200px;
                }
                .text-content{
                    transition: 600ms ease-in-out;
                    gap: 5%;
                    width: 80%;
                    margin-bottom: 10px;
                    ul{
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        li{
                            transition: 600ms ease-in-out;
                            font-size: 13px;
                        }
                    }
                    h1{
                        transition: 600ms ease-in-out;
                        text-align: center;
                        font-size: 40px;
                    }
                    p{
                        transition: 600ms ease-in-out;
                        text-align: center;
                        line-height: 18px;
                        font-size: 13px;
                    }
                    .stats{
                        align-items: center;
                        justify-content: center;
                        div{
                            p{
                                font-size:12px;
                            }
                            h2{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
   }
    
}